@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto-VariableFont";
  src: url("./assets/font/Roboto-VariableFont.woff") format("woff");
}

:root {
  --font-Roboto: "Roboto";
}

html {
  @apply bg-white text-black;
}

html.dark {
  @apply bg-darkGray text-lightGray;
}
